body {
  text-align: left;
  font-family: 'Raleway', sans-serif;
  color: #333;
  font-size: 18px;
  background: #1e1f24;
}
.container {
  width: 50vw;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
}
.container .post {
  width: 100%;
  padding: 0;
  text-align: left;
  border: 1px solid #ddd;
}
.container .post .contenido {
  padding: 1em;
  text-align: justify;
  background: white;
}
.container h1 {
  font-size: 26px;
}
.container .cabezera {
  font-size: 26px;
  text-align: left;
  background: #3333aa;
  color: white;
  padding: 0.5em 0 0.5em 1em;
  margin: 0s;
  font-weight: bold;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
}
.container .cabezera .logo {
  width: 5%;
  vertical-align: middle;
  padding: 0 0.5em 0 0;
}
.container .tag-line {
  padding: 1em;
  font-weight: normal;
  font-size: 0.8em;
}
